$light: #faebac;
$dark: #272123;
$neutral: #3b3535;

$primary: #f97745;
$primary-dark: #ee6c38;
$primary-light: #f1875d;

$primary2: #e2ab7a;
$primary2-dark: #d7965d;
$primary2-light: #edbc92;

$secondary: #24474c;
$secondary-dark: #19383d;
$secondary-light: #35565b;

$secondary2: #66d7c7;
$secondary2-dark: #45c5b4;
$secondary2-light: #8adfd3;

$succes: #799481;
$succes-dark: #608069;
$succes-light: #92a899;

$danger: #442320;
$danger-dark: #3a1b18;
$danger-light: #583330;